.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .blog-item {
        width: 30%;
        padding: 1rem;
        background: $green1;
        margin: 0 1rem 1.9rem;
        box-sizing: border-box;
        h2, h2 a{
            text-decoration: none;
            font-family: $noto;
            color: $black1;
        }
    }
}