html, body {
    margin: 0;
    height: 100%;
}
body {
    counter-reset: section;
}
.current {
    // color: green;
}
.home-image {
    position: absolute;
    left: 0;
    top: 3rem;
    max-width: 420px;
    padding: 1rem;
    transition: left 2s;
}
.main-block {
    position: relative;
    display: flex;
    min-height: 100%;
    max-width: 1375px;
    margin: auto;

    .yellow-block {
        background: $green;
        width: 15%;
        transition: width 2s;
        box-shadow: .5rem 0 1rem rgba(0,0,0, 0.10);
    }
    .blank-block {
        width: 30%;
        position: relative;
    }
    .menu-title {
        font-family: $noto;
        font-size: 50px;
    }
    .nav-bar {
        position: absolute;
        bottom: 0;
        padding: 3rem;
        width: 100%;
        box-sizing: border-box;
    }
    .nav {
        list-style: none;
        .nav-item {
            position: relative;
            font-family: $source;
            border-left: solid $green 5px;
            padding: 0.5rem 1rem 0 0.5rem;
            font-size: 20px;
            &:before {
                counter-increment: section;
                content: "0" counter(section);
                position: absolute;
                left: -35px;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .yellow-block {
            width: 65%;
        }
    }
}
@media only screen and (min-width: 768px) {
    .home-image {
        left: 50%;
    }
}