.nav-bar {
    position: absolute;
    bottom: 0;
    padding: 3rem;
    width: 100%;
    box-sizing: border-box;
}
.nav-bar.nav-single {
    max-width: 300px;
}
.nav {
    list-style: none;
    .nav-item {
        position: relative;
        font-family: $source;
        border-left: solid $green1 5px;
        padding: 0.5rem 1rem 0 0.5rem;
        font-size: 20px;
        &:before {
            counter-increment: section;
            content: "0" counter(section);
            position: absolute;
            left: -35px;
        }
        a {
            text-decoration: none;
            color: $black1;
        }
    }
}
.default {
    background: $green1;
    .nav {
        .nav-item {
            border-left: solid $black1 5px;
        }
    }
}
.hamburger {
    position: fixed;
    left: 1rem;
	top: 1rem;
	width: 1.5rem;
	height: .7rem;
	z-index: 100;
	cursor: pointer;
	> span {
		display: block;
		background-color: $black1;
		height: 20%;
		margin-bottom: 20%;
	}
}