.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    overflow-y: scroll;
    transition: transform .2s ease;
    &.open {
        transform: translateX(45%) scale(0.6);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
    }
    .title {
        font-family: $noto;
    }
    .content {
        position: relative;
        display: flex;
        min-height: 100%;
        max-width: 1175px;
        margin-left: 5rem;
    }
    .inner-content {
        width: 90%;
        padding: 1rem;
        .header-image {
            width: 100%;
        }
    }
    .content-text {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & > * {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            margin: 0;
            line-height: 2rem;
            font-size: 1rem;
            font-family: $source;
            text-align: justify;
            text-justify: inter-word;
        }
    }
    .sidebar {
        position: relative;
        .notch {
            background: $black1;
            width: 2rem;
            &.top-notch {
                height: 4rem;
            }
            &.bot-notch {
                position: absolute;
                bottom: 0;
                height: 2.5rem;
            }
        }
        .dates {
            font-family: $noto;
            text-align: center;
            margin-top: 3rem;
        }
        .author {
            font-family: $noto;
            position: absolute;
            bottom: 6rem;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            width: 100%;
            letter-spacing: 2px;
        }
    }
    .sub-image {
        width: 100%;
    }
    @media only screen and (min-width: 768px) {
        &.open {
            transform: translateX(30%) scale(0.7);
            box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
        }
        .content-text {
            & > p {
                width: 30%;
            }
        }
        .inner-content {
            padding: 4rem;
        }
    }
    @media only screen and (min-width: 1280px) {
        .content {
            margin: auto;
        }

    }
}