<!doctype html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body class="default">
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-bar nav-single">
      <h2 class="menu-title">Menu</h2>
      {% include navigation.html %}
    </div>

    <div class="main main-{{page.cssclass}}"> 
      <div class="content">
        <div class="inner-content">
          <img class="header-image" src="{{ page.imageheader }}" alt="{{ page.imageheaderalt }}" />
          <h1 class="title">{{ page.title }}</h1>
          <div class="content-text">
            {{ content }}
          </div>
        </div>
        <div class="sidebar">
          <div class="notch top-notch"></div>
          <div class="dates">
            <div>MM</div>
            <div>DD</div>
            <div>YY</div>
          </div>
          <div class="notch bot-notch"></div>
        </div>
      </div>
    </div>
    <footer>
      <script src="/assets/js/main.js" ></script>
    </footer>
  </body>
</html>